@use "sass:color";

@use "@material/theme/color-palette";

// Svelte Colors!
@use "@material/theme/index" as theme with (
  $primary: #1a237e,
  $secondary: #26c6da,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

// Typography
@import "_Typography.scss";

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
